<% models = require("../../static/diagrams/4.1-similar-directions/similar-directions.json").models%>

<style>
    figure.columns {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: repeat(4, 1fr);
        overflow: hidden;
    }

    .columns .model {
        display: grid;
        position: relative;
        grid-row-gap: 1em;
        grid-auto-flow: row;
        align-content: start;
        grid-template-rows: min-content;
    }

    .model picture {
        position: relative;
    }

    .model img {
        box-sizing: content-box;
        position: relative;
        width: unset;
        object-fit: none;
        z-index: 1;
        border: 6px solid white;
        margin: -6px;
        border-radius: 8px;
    }

    .model figcaption>* {
        display: block;
    }

    /*
    HAAAACKY
    */
    .model:first-of-type picture::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 350%;
        left: 0;
        top: 48px;
        background-color: #aaa;
        z-index: 0;
    }

    .columns>figcaption {
        grid-column: 1 / span 4;
    }
</style>

<d-figure id="figure-13">
<figure id="4.1-similar-directions" class="columns">
    <% for (const model of models) { %>
    <%= require('./similar-directions-model.ejs')({model}) %>
    <%}%>
    <figcaption>
      <p><a href="#figure-13" class="figure-number">13</a>. High-low frequency detectors that we've found in AlexNet, InceptionV4, and ResnetV2-50 (right), compared to their most similar counterpart from InceptionV1 (left).</p>
      <p>These are actual neurons, not linear combinations approximating the detectors in InceptionV1.</p>
    </figcaption>
</figure>
