<% models = require("../../static/diagrams/4.1-similar-directions/similar-directions.json").models%>

<style>
    figure.columns {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: repeat(4, 1fr);
        overflow: hidden;
    }

    .columns .model {
        display: grid;
        position: relative;
        grid-row-gap: 1em;
        grid-auto-flow: row;
        align-content: start;
        grid-template-rows: min-content;
    }

    .model picture {
        position: relative;
    }

    .model img {
        box-sizing: content-box;
        position: relative;
        width: unset;
        object-fit: none;
        z-index: 1;
        border: 6px solid white;
        margin: -6px;
        border-radius: 10px;
    }

    .model figcaption>* {
        display: block;
    }

    /*
    HAAAACKY
    */
    .model:first-of-type picture::before {
        content: "";
        display: block;
        position: absolute;
        height: 1px;
        width: 350%;
        left: 0;
        top: 48px;
        background-color: #aaa;
        z-index: 0;
    }

    .columns>figcaption {
        grid-column: 1 / span 4;
    }
</style>

<figure id="4.1-similar-directions" class="columns">
    <% for (const model of models) { %>
    <%= require('./similar-directions-model.ejs')({model}) %>
    <%}%>
    <figcaption>
        <p>
            High-low frequency detectors similar to ones in InceptionV1 can be found in a variety of architectures; AlexNet, InceptionV4, and ResnetV2-50 shown here. Note these are actual channels, not linear combinations approximating the detectors in InceptionV1.
        </p>
        <p>
            We also note that these detectors are found at very similar depths within the different networks.
        </p>
    </figcaption>
</figure>
